@font-face {
    font-family: "Material Icons";
    font-style: normal;
    font-weight: 400;
    src: url(../Font/font.woff2) format("woff2");
}

.material-icons {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 35px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
}

noteList {
    display: inline-block;
    height: 400px;
    overflow: scroll;
    width: 100%;
}

.within-list {
    cursor: pointer;
}

.list-title {
    font-weight: 600;
    font-size: 20px;
    padding: 5px 5px 0 5px;
}

.list-date {
    font-weight: 200;
    font-size: 12px;
    padding: 0 5px 0 5px;
}

.list-text {
    padding: 0 5px 5px 5px;
    border-bottom: solid 1px black;
}

notePad {
    display: inline-block;
    height: 400px;
    width: 100%;
    overflow: scroll;
}

#note-title {
    font-size: 24px;
    padding: 0 0 5px 5px;
}

#note-body {
    padding: 5px;
}

#body-field,
#title-field {
    width: 90%;
    border-width: 60%;
    outline: none;
    resize: none;
}

#title-field {
    font-size: 18px;
    font-weight: 600;
}

#body-field {
    font-size: 14px;
    font-weight: 500;
    height: 400px;
}

#color-select {
    display: flex;
    flex-flow: row;
    padding: 5px 10px 0 0;
}

.color-box {
    border: solid 2px #000;
    height: 25px;
    width: 25px;
    border-radius: 5px;
    margin-left: 5px;
}

.display {
    display: visible;
}

.no-display {
    display: none;
}

#listed:nth-child(odd):hover {
    cursor: pointer;
}

.orange {background-color: #ffb74d;}
.banana {background-color: #fffa81;}
.honeydew {background-color: #d5fa80;}
.flora {background-color: #78f87f;}
.aqua {background-color: #79fbd6;}
.ice {background-color: #79fdfe;}
.sky {background-color: #7ad6fd;}
.orchid {background-color: #7b84fc;}
.lavendar {background-color: #d687fc;}
.pink {background-color: #ff89fd;}

.delete-icon {
    position: absolute;
    top: 11px;
    right: 10px;
    padding: 10px;
}

.delete-icon:hover {
    color: red;
    transition: 0.3s ease-in-out;
}